{{#partial "content"}}
    <div class="delete">
        <h1>Deleted!</h1>

         Your Squad  has Deleted



        <!-- Your team leader will be members interpolation.-->





    </div>

    <!--<a href="/">Go Back</a>-->
{{/partial}}

{{> layout.hbs}}