{{#partial "title"}}
    Heroes Profiles List You Can Select From
{{/partial}}
{{#partial "content"}}
    <h1 id="profiletitle">Heroes' Profiles</h1>
    <br>
    <br>
    <br>

    <div class="card-deck" id="profiles">

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/okoye.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Okoye</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong> Okoye is a brave woman, Captain of the women's army and the best
                            sword fighter in Wakanda.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> Her love for W'Kabi an opposer to
                            T'Challa is her weakness</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/shuri.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Shuri</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong> Shuri is the tech genius behind every Wakandan invention concerning vibranium.
                            She has quick wit.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> She is not so good at battle</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/nakia.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Nakia</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong> Nakia  was a Wakandan mutate with superhuman strength, speed, and agility.She is concerned for the well-being of others</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> Too much compassion is her strength but also weakness</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/killmonger.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Killmonger</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong> Even though killmonger is the enemy of T'Challa he has admirable strengths
                            in his passion to liberate black people worldwide from their oppressors.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> He is easily carried away with increasing power, and
                            corrupted with an innate need to dominate the world</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/T'Chaka.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>T'Challa</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong> T'Chaka known as the Black Panther He can lift up to 800 tons, reach speeds
                            up to 40 mph, track movements faster than a normal eye can see,
                            fight for days on end withoutfatigue and heal from wounds faster.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> His weakness is Hubris</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/nairobi.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Nairobi</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong>Nairobi is an expert in plotting successful plans and falsifying various merchandise.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong>She can be quite impulsive from time to time</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/dread.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Dread</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong> Dread has extremely strong hair and can use them as extra arms with equal strength
                            and agility.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> She is impatient</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/mbaku.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>M'Baku</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong>M'Baku is strong and can lift upto 1000, He is great in battle and also has a
                            great sense of humor.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> He hardly gets serious and often disrespectful. Low social
                            intelligence aside from battle</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/Storm.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Storm</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong> Storm can make it rain any time, any place.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> She is sometimes overwhelmed by her power over
                            weather and has anger management issues</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="/images/minion.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong><u>Minion</u></strong></h5>
                        <p class="card-text"><strong>Strength:</strong>Minion is a great genius and also great with guns.</p>
                        <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> His height is his weakness and strength</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/thecouple.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><strong><u>The Couple</u></strong></h5>
                <p class="card-text"><strong>Strength:</strong> The couple have total control over fire <br>
                    and can do multiple tricks with it. <br>
                    Their skin is also fire proof.</p>
                <p class="card-text"><small class="text-muted"><strong>Weakness:</strong> They are an avaricious lot</small></p>
            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}