{{#partial "content"}}
<div class="success">
    <h1>Success!</h1>

    Your {{ squadName }} Squad  has been created and saved.

    Your mission is to {{squadCause}} as a team.

    Your team leader will be {{members}}.





</div>

    <!--<a href="/">Go Back</a>-->
{{/partial}}

{{> layout.hbs}}