
{{#partial "content"}}
    <div class="Container" id="homepage">
        <div class="page-header">
            <h1 id="logo"><strong>WELCOME TO HEROIKA!!!</strong></h1>
            <br>
            <br>


            <br>
            <h2 id="boxshadow"><strong>Create Your Dream Squad to Help <br>
                Combat Our Motherland's Injustices<br>
                One At A Time</strong></h2>
            <br>
            <br>
            <h3 id="boxshadow"><strong>Review The Profiles Of Modern-Day Comic Heroes <br>Under Heroes' Profile Tab,
                and <br>Build Your Dream Squad!</strong> </h3>
            <br>
            <br>
        </div>

        {{#if squads}}
            {{#each squads }}
                <p>Current post:</p>
                <p>{{ squadname }} <a href="/squads/{{id}}">read more...</a></p>
            {{/each}}
        {{else}}

        {{/if}}
    </div>

{{/partial}}

{{> layout.hbs}}