<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Heroika!{{/block}}</title>
    <link rel = "icon" href =
            "/images/icon"
          type = "image/x-icon">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
</head>
<body>

<ul class="nav nav-tabs" id="navbar">

        <a class="navbar-brand" href="/"><img src="https://www.pngkit.com/png/detail/20-205147_historical-maps-continents-icons-african-projects-sub-saharan.png" width="40px" height="35px" ></a>

    <li role="presentation" id="navbar" class="active"><a href="/">HOME</a></li>
    <li role="presentation" id="navbar"><a href="/profiles">HEROES' PROFILES</a></li>
    <li role="presentation" id="navbar"><a href="/squad-store">SQUADS</a></li>
    <li role="presentation" id="navbar"><a href="/squad-form">CREATE A NEW SQUAD</a></li>
</ul>
<h1 id="logo"><strong>WELCOME TO HEROIKA!!!</strong></h1>
<div class="container">
    <!--begin main template-->


    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/squads/delete"> &nbsp; &nbsp; DELETE ALL SQUADS</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}