{{#partial "title" }}
    Your custom squad
{{/partial}}


{{#partial "content"}}


    <p><h3>Your rectangle's height is </h3></p>
    <p><h3>Your rectangle's width is </h3></p>
    <p><h3>Your rectangle's width is </h3></p>


{{/partial}}

{{> layout.hbs}}
<!--
-->