{{#partial "content"}}
<div class="success">
    <h1>Success!</h1>

    Your {{ newSquad.squadName }} Squad  has been created and saved.

    Your mission is to {{newSquad.squadCause}} as a team.

    Your team leader will be {{newSquad.members}}

   <!-- Your team leader will be members interpolation.-->





</div>

    <!--<a href="/">Go Back</a>-->
{{/partial}}

{{> layout.hbs}}