{{#partial "content"}}
    <div class="success">
        <h1>Congratulations!</h1>

       You just created the models.Hero {{ newHero.heroName }}.

        click on the heroes tab to view the hero you created.to view the newly created hero.




        <!-- Your team leader will be members interpolation.-->





    </div>

    <!--<a href="/">Go Back</a>-->
{{/partial}}

{{> layout.hbs}}